<div class="card cocktail">
    <div class="cocktail-card-image">
        <img class="card-img-top" src="<%= cocktail.image %>">
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <a href="/cocktails/<%= cocktail._id %>" ><%= cocktail.name %></a>
        </h5>
    </div>
</div>