<footer>
    <div>
        Les images et données de ce site proviennent de
        <a href="https://www.thecocktaildb.com/" target="_blank">
            https://www.thecocktaildb.com/
        </a>
    </div>
</footer>