@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html, body{
    margin: 0;
    height: 100%;

    font-family: 'Fredoka One', cursive;
}

html{
    background: black;
}

body{
    max-width: 950px;
    margin: 0 auto;

    background: url("../images/cocktailbg.webp");
    background-size: cover  ;
    background-position: center;

    display: flex;
    flex-direction: column;
    text-align: center;
}

a{
    text-decoration: none;
}

header, footer{
    height: 50px;
    margin: 2px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;


    background: darkred;
    color: black;
}

header{
    height: 100px;

    justify-content: space-between;

    background: url(../images/beach_bar_950x.jpg);
    background-size: cover;
    background-position-y: 90%;

    font-size: 1.5em;
}

header > *{
    margin: 0px 5px;
}

header a {
    color : black;
}

header a:hover {
    color : inherit;
}


.letters{
    height: 50px;
    margin: 2px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;


    background: darkred;
    color: black;
}

.letters{
    height: 100px;
    justify-content: space-between;
    background-color: black;
    /* font-size: 1.5em; */
    gap: 5px;
    display: flex;
    flex-direction: row;
}

.letters span {
    color : blue;
}

.letters span.select {
    color : white;
}



footer{
    background: url(../images/beach_bar.jpg);
    background-size: cover;
    background-position-y: 42%;
}

#content{
    padding: 10px;

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden ;

    text-align: left;
}

#content .scrollable{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
}

#main-title{
    font-size: 1.5em;
}

#scrollable{
    width: 100%;
    overflow: auto;

    display: flex;
    justify-content: center;
}

#cocktails-content{
    width: 95%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

.cocktail{
    width: 190px;
    padding: 3px;

}

.scrollable .card {
    background: url(../images/beach_bar.jpg);
    background-size: cover;
    background-position-y: 42%;
}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cocktail-card-image{
    height: 255px;
    display: flex;
    justify-content: center;
}
.cocktail-card-image img{
    flex: 1;
    object-fit: cover   ;
}

.cocktail-infos-image{
    max-height: 300px;
    padding: 1rem ;
    display: flex;
    justify-content: space-around;
}

.cocktail-infos-image img{
    height: 100%    ;
    object-fit: contain;
}