
<div class="scrollable">
    <div class="card cocktail" style="width: 80%">
        <div class="card-body" style="display: flex ; justify-content: space-between ; align-items: baseline">
            <h5 class="card-title"><%= cocktail.name %></h5>
            <%- include('../partials/close-button')%>
        </div>
        <div class="cocktail-infos-image">
            <img src="<%= cocktail.image %>">
            <div>
                Ingredients 
                <ul>
                    <% cocktail.ingredients.split(',').forEach((ingredient) => { %>
                        <li>
                            <%= ingredient %>
                        </li>
                    <% })%>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">
                <%= cocktail.instructions%>
            </p>
        </div>
    </div>
</div>