<div id="scrollable">
    <div id="cocktails-content">
        <% cocktails.forEach((cocktail) => { %>
        <div>
            <%- include('../partials/cocktail', { cocktail }) %>
        </div>
        <% })%>
    </div>
</div>
